<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yellow"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CompanyListActivity"
            android:exported="false" />
        <activity
            android:name=".showResponse"
            android:exported="false" />
        <service android:name=".NotificationService"
            android:exported="false" />
        <activity
            android:name=".Response"
            android:exported="false" />
        <activity
            android:name=".Showprofile"
            android:exported="false" />
        <activity
            android:name=".Receiveapplicationdetails"
            android:exported="false" />
        <activity
            android:name=".Applyjob"
            android:exported="false"
            android:label="@string/title_activity_applyjob"
            android:theme="@style/Theme.Yellow" />
        <activity
            android:name=".Showjobs"
            android:exported="false"
            android:label="@string/title_activity_showjobs"
            android:theme="@style/Theme.Yellow" />
        <activity
            android:name=".JobFilter"
            android:exported="false" />
        <activity
            android:name=".JobDetails"
            android:exported="false" />
        <activity
            android:name=".Homeuser"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".fragment_profile"
            android:exported="false" />
        <activity
            android:name=".Homepageuser"
            android:exported="false" />
        <activity
            android:name=".UserSelection"
            android:exported="false" />
        <activity
            android:name=".Editpostjobs"
            android:exported="false" />
        <activity
            android:name=".consultjobs"
            android:exported="false" />
        <activity
            android:name=".postjobs"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".chatActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yellow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".recieveapplication"
            android:exported="false"
            android:launchMode="singleTop"
        />

        <service
            android:name=".NotificationService"
            android:exported="false" />

        <activity
            android:name=".Edituser"
            android:exported="false" />
        <activity
            android:name=".profileuser"
            android:exported="false" />
        <activity
            android:name=".application"
            android:exported="false" />
        <activity
            android:name=".notificationActivity"
            android:exported="false" />
        <activity
            android:name=".applyjob"
            android:exported="false" />
        <activity
            android:name=".editjob"
            android:exported="false" />
        <activity
            android:name=".userhome"
            android:exported="false"
            android:label="@string/title_activity_userhome"
            android:theme="@style/Theme.Yellow" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Status"
            android:exported="false" />
        <activity
            android:name=".addjob"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>